h1 {
  font-family: Source Code Pro;
  font-size: 3.5em;
  color: #F8F8F2;
  text-align: center;
}

h2 {
  font-family: Source Code Pro;
  font-size: 2.5em;
  color: #F8F8F2;
  text-align: center;
}

btw {
  font-size: 0.1em;
}

ul.bloglist {
	font-family: Source Code Pro;
	font-size: 1.2em;
	color: #F8F8F2;
	margin: auto;
	width: 80%;
	padding: 10px;
}

li.blogentry {

}

ul.navbar {
list-style-type: none;
margin: 0;
padding: 10px;
top: 0;
}

li.navbar {
	display: inline;
	padding: 10px;
}

a.navbar {
  text-decoration: none;
  font-family: Source Code Pro;
  font-size: 1.4em;
  font-weight: bold;
}

img {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-color: #BD93F9;
  background-color: #282A36BF;
  width: 60%;
  padding: 10px;
  margin: auto;
  backdrop-filter: blur(7px);
}

p {
  font-family: Source Code Pro;
  font-size: 1.4em;
  color: #F8F8F2;
  margin: auto;
  width: 80%;
  padding: 10px;
}

p.credits {
	text-align: center;
	font-size: 15px;
}

p.sociallinks {
	color: #F8F8F2;
	font-size: 60px;
	text-align: center;

}

a {
	color: #F8F8F2;
}

a:hover {
  color: #5AF78E;
}

body {
  background-color: #000000;
  background-image: url("purplebeach.jpg");
}
